.site-inner{
padding-left: 0;
padding-right : 0;
margin-left :0;
margin-right:0;
max-width:none;
 }
.genesis-nav-menu a{
	color:white;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: Gotham,sans-serif;
	
	
}

#menu-item-179 > a{
	color: #b4a895;
	font-weight: 800;
	font-family: Gotham,sans-serif;

} 
.site-header {
	background-color: rgba(0,0,0,0.06);
}
#menu-Sushi-categorie{
margin-right: 500px;
}
.title-area span{
		color: #b4a895;
	font-weight: 800;
	font-family: Gotham,sans-serif;
display: inline-block;
    margin: 0 0 0 60px;
	    vertical-align: middle;
}
.h1{
	color:white;
	text-align:center;
	z-index:5;
}
.video_container {
	position: absolute;
    width:100%;
	top:0;
	left:0;
	z-index: 0;
  	}
